tnrs_results_SCI_11feb24.csv
globibees_namesmissing_26mar24.csv
matched_rows_2024_04_06.csv
model_covariates - 2024 02 12 - no apis.rds
plantsci_namesAndTraits_021124.csv
resolvedplantnamesglobi_12feb24.csv
final-globi-list-clean 2024 04 07.csv
scir_beespec_25feb25.csv
resolvedplantsci_12feb24.csv
KS-sources.kept.2024.07.01.csv
citation-list-type.csv
beeoccurrences.csv
plantoccurrences.csv
